// *********************************************************************
//
// $Author:   KANIS  $
// $Workfile:   prtrdemo.rc  $
// $Revision:   1.0  $
// $Date:   26 Oct 1996 13:18:02  $
//
// $Log:   M:\prtgraph\rxdemo\prtrdemo.rc  $
** 
**    Rev 1.0   26 Oct 1996 13:18:02   KANIS
** Initial Revision
// 
//    Rev 1.0   04 May 1996 21:10:58   KANIS
// First VCS store for v2.2
// 
// *********************************************************************

ICON 100  prtman.ico
BITMAP 101  addlogo.bmp

// ***********************************************************************
//
//  (c)1996 ADD Consulting
//
//  END OF FILE.
//
// ***********************************************************************
