// *********************************************************************
//
// $Author:   KANIS  $
// $Workfile:   prtgrafc.rc  $
// $Revision:   1.0  $
// $Date:   11 May 1996 14:53:32  $
//
// $Log:   M:\prtgraph\prtgrafc.rcv  $
// 
//    Rev 1.0   11 May 1996 14:53:32   KANIS
// Initial revision.
// 
// *********************************************************************

#define     INCL_WIN
#include    <os2.h>
#include    "prt_dlg.h"

RCINCLUDE "PRT_DLG.DLG"

// ***********************************************************************
//
//  (c)1996 ADD Consulting
//
//  END OF FILE.
//
// ***********************************************************************
