// *********************************************************************
//
// $Author:   KANIS  $
// $Workfile:   PRTGRAPH.RC  $
// $Revision:   1.0  $
// $Date:   04 May 1996 21:10:54  $
//
// $Log:   M:\prtgraph\prtgraph.rcv  $
// 
//    Rev 1.0   04 May 1996 21:10:54   KANIS
// First VCS store for v2.2
// 
// *********************************************************************

#define     INCL_WIN
#include    <os2.h>
#include    "prt_dlg.h"

RCINCLUDE "PRT_DLG.DLG"

// ***********************************************************************
//
//  (c)1996 ADD Consulting
//
//  END OF FILE.
//
// ***********************************************************************
